.container {
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.text {
    margin-left: 15px;
}

.loadingIcon {
    height: 20px;
    width: 20px;
    fill: var(--gray);
    animation: loading 2s infinite ease-in-out;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}