.container {
    max-height: 200px;
    overflow: auto;
    width: calc(100% - 2px);
    position: absolute;
    left: 1px;
}

.alertItem {
    padding: 10px;
    background-color: var(--white);
    transition-property: transform;
    transition-duration: 300ms;
    cursor: pointer;
    position: relative;
    transform: translateX(-100%);
}

.text {
    text-align: center;
    font-size: 12px;
}

@media (min-width: 425px) {
    .text {
        font-size: 14px;
    }
}

.staticFiller {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-color: var(--transparent-red);
}

.filler {
    background-color: var(--red);
    position: absolute;
    left: 0;
    height: 2px;
    bottom: 0;
    right: 0;
    transform-origin: left;
    animation: scaling 10s ease-in-out;
}

@keyframes scaling {
    from {
        transform: scaleX(1);
    }

    to {
        transform: scaleX(0);
    }
}