.messageItem:not(:last-child) {
    padding: 1px 0;
}

.messageItem:hover {
    background-color: var(--light-gray);
}

.name {
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
}

.name::after {
    content: ': ';
}

.text {
    font-weight: 400;
    font-size: 12px;
    word-wrap: break-word;
}

.highlighted {
    background-color: var(--light-gray);
}

.highlighted span {
    font-weight: 500;
}

@media (min-width: 425px) {
    .name {
        font-size: 15px;
    }

    .text {
        font-size: 14px;
    }
}