.messageItem:not(:last-child) {
    margin-bottom: 2px;
}

.name {
    font-weight: 500;
    font-size: 13px;
}

.name::after {
    content: ': ';
}

.text {
    font-weight: 400;
    font-size: 12px;
    word-wrap: break-word;
}