.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--border);
    padding: 7px 10px;
}

.titleBox, .buttonsBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleBox {
    flex-direction: column;
    height: 100%;
}

.title {
    font-weight: 500;
}

.online {
    font-size: 12px;
    color: var(--gray);
}

@media (min-width: 425px) {
    .online {
        font-size: 14px;
    }
    .title {
        font-size: 18px;
    }
}

.reloadBtn {
    margin-right: 2px;
}

.pinBtn {
    margin-right: 2px;
}

@media (max-width: 768px) {
    .pinBtn {
        display: none;
    }
}

.collapseBtnIcon {
    transform: rotate(-90deg);
    transition-property: transform;
    transition-duration: .3s;
}

.collapsed {
    transform: rotate(90deg);
}

.pinBtnIcon, .collapseBtnIcon, .reloadBtnIcon {
    fill: var(--gray);
    width: 20px;
    height: 20px;
    transition-property: fill, transform;
    transition-duration: .3s;
}

.collapseBtn:hover .collapseBtnIcon,
.pinBtn:hover .pinBtnIcon,
.reloadBtn:hover .reloadBtnIcon {
    fill: var(--black);
}

.contentArea {
    display: flex;
    align-items: center;
    width: 100%;
}